{% extends "base.html.twig" %}
{% block PRICE %}
	<h1>Spot price of
		{{ criptoCurrencyTAG }}
		is
		{{ pairValue }}
		{{ currencyTAG }}</h1>
	{{ post.published_at|date("d/m/Y") }}
	{{ post.published_at|date("H:i:s") }}
{% endblock %}
